<div class="row-fluid">
<h2>Dutycycle</h2>
<div class="input-append">
    <input type="text" class="input-mini" data-bind="">
    <button class="btn btn-input-inc" title="Set PWM" data-bind="">
        <i class="fa fa-check"></i>
    </button>
</div>
